@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
    var myTime = DateTime.Now.TimeOfDay;
    var db = Database.Open("VMTShares");
    var selectQueryString = "[lzorn].[personshares]";
    var tazs_str = "";
    var procRows = 0;
    if (IsPost)
    {
        string areaname = Request.Form["areaname"];
        tazs_str = Request.Form["tazs"];
        // todo: check tazs_str
        
        <text>
          You entered: <br />
          Area Name: @areaname <br />
          TAZs: @tazs_str <br />
        </text>
    }
}

<form method="post">
    <fieldset>
        <legend>Add Customer</legend>
        <div>
           <label for="AreaName">Area Name:</label>
            Example: 'Albany' <br />
           <input type="text" name="areaname" value="@Request.Form["areaname"]" />
        </div>
        <div>
            <label for="AreaTAZs">TAZs of Interest:</label>
            Example: '1034,1035,1036,1037,1038,1039' <br />
            <input type="text" name="tazs" value="@Request.Form["tazs"]" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

<table>
    <thead>
        <tr>
            <th rowspan="2">Lives</th>
            <th rowspan="2">Works</th>
            <th rowspan="2">Persons</th>
            <th colspan="4">Non-commercial Passenger Vehicle Miles Traveled</th>
        </tr>
        <tr>
            <th>Entirely within</th>
            <th>Partially in</th>
            <th>Entirely outside</th>
            <th>Total</th>
        </tr>
    </thead>
    @if (tazs_str.Length > 0) {
        System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
        nfi.NumberDecimalDigits = 0;

        foreach (var row in db.Query("Exec [lzorn].[personshares] @tazlist=@0", tazs_str)) {
        <tr>
            @if (row.live_in_area==1) {<td>Live in area</td>} else {<td>Live out of area</td>}
            @if (row.work_in_area==1) {<td>Work in area</td>} else if (row.work_in_area==-1) {<td>Non-worker</td>} else {<td>Work out of area</td>}
            <td class="number">@row.persons.ToString("N", nfi)</td>
            <td class="number">@row.vmt_within.ToString("N", nfi)</td>
            <td class="number">@row.vmt_partial.ToString("N", nfi)</td>
            <td class="number">@row.vmt_outside.ToString("N", nfi)</td>
            <td class="number">@row.vmt_total.ToString("N", nfi)</td>
        </tr>
        }
    }
</table>